@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Heavy.woff2") format("woff2"), url("../fonts/Gilroy-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Gilroy", sans-serif;
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Gilroy", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

html.light body {
  background-color: #EAEAEA;
  color: #000;
}

html.dark body {
  background-color: #000;
  color: #EAEAEA;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 90rem;
  margin: 0 auto;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes fade-up {
}

@keyframes fade-up {
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.125rem solid #EAEAEA;
  border-radius: 10.625rem;
  overflow: hidden;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.15;
  width: 100%;
  height: 4.125rem;
}

.side {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 11;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.side .btn-side__brief {
  height: 10.3125rem;
  width: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.side .btn-side__brief span {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.side__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.8125rem;
}

.side__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.8125rem;
}

.btn-side {
  position: relative;
}

.btn-side__brief {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  gap: 0.4375rem;
  height: 3rem;
  padding: 0.3125rem;
  background-color: #6D37FF;
  -webkit-box-shadow: 0px 0.3125rem 0.9375rem rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0.3125rem 0.9375rem rgba(0, 0, 0, 0.25);
  border-radius: 6.25rem;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.7692307692;
  color: #EAEAEA;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.btn-side__brief img {
  width: 1.875rem;
  height: 1.875rem;
}

.btn-side__theme {
  position: relative;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.btn-side__theme-day {
  position: relative;
  opacity: 0;
  visibility: hidden;
}

.light .btn-side__theme-day {
  opacity: 1;
  visibility: visible;
}

.btn-side__theme-night {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.dark .btn-side__theme-night {
  opacity: 1;
  visibility: visible;
}

.links-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.8125rem;
}

.links-side__item {
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.instagram-link {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dark .instagram-link {
  background-color: #EAEAEA;
}

.insta-img {
  -webkit-filter: invert(100%) sepia(0%) saturate(437%) hue-rotate(181deg) brightness(117%) contrast(84%);
          filter: invert(100%) sepia(0%) saturate(437%) hue-rotate(181deg) brightness(117%) contrast(84%);
}

.dark .insta-img {
  -webkit-filter: invert(0%) sepia(91%) saturate(7464%) hue-rotate(33deg) brightness(101%) contrast(100%);
          filter: invert(0%) sepia(91%) saturate(7464%) hue-rotate(33deg) brightness(101%) contrast(100%);
}

.dark .teleg-img {
  -webkit-filter: invert(100%) sepia(0%) saturate(437%) hue-rotate(181deg) brightness(117%) contrast(84%);
          filter: invert(100%) sepia(0%) saturate(437%) hue-rotate(181deg) brightness(117%) contrast(84%);
}

.dark .facebook-img {
  -webkit-filter: invert(100%) sepia(0%) saturate(437%) hue-rotate(181deg) brightness(117%) contrast(84%);
          filter: invert(100%) sepia(0%) saturate(437%) hue-rotate(181deg) brightness(117%) contrast(84%);
}

.dark .linkedin-img {
  -webkit-filter: invert(100%) sepia(0%) saturate(437%) hue-rotate(181deg) brightness(117%) contrast(84%);
          filter: invert(100%) sepia(0%) saturate(437%) hue-rotate(181deg) brightness(117%) contrast(84%);
}

.language-link {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dark .language-link {
  background-color: #EAEAEA;
}

.language-link__body {
  position: relative;
}

.language-link__body:hover .language-link__list {
  opacity: 1;
  visibility: visible;
}

.language-link__list {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 4.0625rem;
  height: 9.375rem;
  background-color: white;
  border-radius: 0px 0px 1.875rem 0px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.language-link__item {
  height: 33.333%;
  width: 100%;
  text-align: center;
}

.language-link__item._active {
  background-color: #000;
}

.language-link__link {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.2142857143;
  color: #EAEAEA;
  padding: 0.5rem 0rem;
  display: inline-block;
}

.lng-img {
  -webkit-filter: invert(100%) sepia(0%) saturate(437%) hue-rotate(181deg) brightness(117%) contrast(84%);
          filter: invert(100%) sepia(0%) saturate(437%) hue-rotate(181deg) brightness(117%) contrast(84%);
}

.dark .lng-img {
  -webkit-filter: invert(0%) sepia(91%) saturate(7464%) hue-rotate(33deg) brightness(101%) contrast(100%);
          filter: invert(0%) sepia(91%) saturate(7464%) hue-rotate(33deg) brightness(101%) contrast(100%);
}

.arrow-up {
  position: fixed;
  z-index: 10;
  bottom: 6.5625rem;
  width: 3rem;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arrow-up__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3rem;
          flex: 0 0 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.125rem solid #000;
  overflow: hidden;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.dark .arrow-up__btn {
  border-color: #EAEAEA;
}

.arrow-up__btn img {
  -webkit-filter: invert(100%) sepia(0%) saturate(437%) hue-rotate(181deg) brightness(117%) contrast(84%);
          filter: invert(100%) sepia(0%) saturate(437%) hue-rotate(181deg) brightness(117%) contrast(84%);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.dark .header__logo-img {
  -webkit-filter: invert(100%) sepia(0%) saturate(437%) hue-rotate(181deg) brightness(117%) contrast(84%);
          filter: invert(100%) sepia(0%) saturate(437%) hue-rotate(181deg) brightness(117%) contrast(84%);
}

.menu {
  position: fixed;
  opacity: 1;
  visibility: hidden;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #EAEAEA;
  z-index: 10;
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.dark .menu {
  background-color: #000;
}

.menu-open .menu {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.menu__item {
  height: 6.0625rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__item:hover {
  background-color: #000;
}

.dark .menu__item:hover {
  background-color: #EAEAEA;
}

.menu__item:hover .menu__link {
  color: #EAEAEA;
}

.dark .menu__item:hover .menu__link {
  color: #000;
}

.menu__link {
  font-weight: 600;
  line-height: 1.1875;
  margin-left: 2.5rem;
}

.menu__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 15;
}

.icon-menu {
  width: 3.5rem;
  height: 1.6875rem;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 75%;
  height: 0.1875rem;
  background-color: #000;
}

.dark .icon-menu span,
.dark .icon-menu::before,
.dark .icon-menu::after {
  background-color: #EAEAEA;
}

.icon-menu span {
  width: 100%;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.footer__top {
  border-bottom: 0.0625rem solid #000;
}

.dark .footer__top {
  border-color: #EAEAEA;
}

.top-footer__logo {
  display: inline-block;
  margin-bottom: 1.75rem;
}

.top-footer__logo img {
  width: 5.9375rem;
  height: 3.25rem;
}

.dark .top-footer__logo img {
  -webkit-filter: invert(100%) sepia(0%) saturate(437%) hue-rotate(181deg) brightness(117%) contrast(84%);
          filter: invert(100%) sepia(0%) saturate(437%) hue-rotate(181deg) brightness(117%) contrast(84%);
}

.btm-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.875rem;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  padding-top: 2.1875rem;
}

.btm-footer__block:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.3125rem;
}

.btm-footer__block:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btm-footer__coop {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 2.2307692308;
}

.btm-footer__email {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 0.9666666667;
}

.main {
  margin-top: 10.1875rem;
}

.main__head {
  position: relative;
}

.main__head:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.main__text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0.9375rem;
  width: 100%;
  max-width: 30rem;
  font-weight: 500;
  font-size: 1.3125rem;
  line-height: 1.3;
}

.main__text span {
  font-weight: 700;
}

.we-are {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 3.3125rem;
     -moz-column-gap: 3.3125rem;
          column-gap: 3.3125rem;
}

.we-are img {
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
}

.dark .we-are .img-we {
  -webkit-filter: invert(100%) sepia(0%) saturate(437%) hue-rotate(181deg) brightness(117%) contrast(84%);
          filter: invert(100%) sepia(0%) saturate(437%) hue-rotate(181deg) brightness(117%) contrast(84%);
}

.we-are .img-are {
  -webkit-filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(129deg) brightness(108%) contrast(101%);
          filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(129deg) brightness(108%) contrast(101%);
}

.dark .we-are .img-are {
  -webkit-filter: invert(32%) sepia(0%) saturate(353%) hue-rotate(189deg) brightness(92%) contrast(100%);
          filter: invert(32%) sepia(0%) saturate(353%) hue-rotate(189deg) brightness(92%) contrast(100%);
}

.hovers {
  color: #EAEAEA;
  height: 23.75rem;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hovers__main {
  width: 40%;
}

.hovers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.hovers__wrapper {
  height: 100%;
}

.hovers__item {
  width: 16.666%;
  height: 100%;
  background-color: #6D37FF;
  border: 0.0625rem solid #EAEAEA;
  position: relative;
  z-index: 1;
  -webkit-transition: z-index 0.5s linear 0s;
  -o-transition: z-index 0.5s linear 0s;
  transition: z-index 0.5s linear 0s;
}

.hovers__item .circle-deco {
  position: absolute;
  top: 50%;
  left: -17%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2.125rem;
  height: 2.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}

.hovers__item .circle-deco::after {
  content: "";
  overflow: hidden;
  z-index: 2;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 0.0625rem solid #EAEAEA;
}

.hovers__item .circle-deco::before {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100%;
  width: 1.0625rem;
}

.hovers__item:hover {
  z-index: 2;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.hovers__item:hover:nth-child(6) .item-hov__content {
  border-radius: 100px 0px 0px 0px;
}

.hovers__item:hover .item-hov__content {
  pointer-events: all;
  width: 408%;
  border-radius: 0px 6.25rem 0px 0px;
  opacity: 1;
}

.hovers__item:hover .item-hov__content .title-hov {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.hovers__item:hover .item-hov__content .circle-deco {
  opacity: 1;
  -webkit-transition: opacity 0s ease 0.5s;
  -o-transition: opacity 0s ease 0.5s;
  transition: opacity 0s ease 0.5s;
}

.hovers__item:hover .item-hov__body {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.hovers__item:hover .item-hov__txt {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: opacity 0.6s ease 0.7s, -webkit-transform 0.55s ease 0.7s;
  transition: opacity 0.6s ease 0.7s, -webkit-transform 0.55s ease 0.7s;
  -o-transition: transform 0.55s ease 0.7s, opacity 0.6s ease 0.7s;
  transition: transform 0.55s ease 0.7s, opacity 0.6s ease 0.7s;
  transition: transform 0.55s ease 0.7s, opacity 0.6s ease 0.7s, -webkit-transform 0.55s ease 0.7s;
}

.hovers__item:hover .item-hov__btn {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: opacity 0.6s ease 0.8s, -webkit-transform 0.55s ease 0.8s;
  transition: opacity 0.6s ease 0.8s, -webkit-transform 0.55s ease 0.8s;
  -o-transition: transform 0.55s ease 0.8s, opacity 0.6s ease 0.8s;
  transition: transform 0.55s ease 0.8s, opacity 0.6s ease 0.8s;
  transition: transform 0.55s ease 0.8s, opacity 0.6s ease 0.8s, -webkit-transform 0.55s ease 0.8s;
}

.hovers__item:nth-child(1) {
  background-color: #2C1483;
}

.hovers__item:nth-child(1) .circle-deco::after {
  background-color: #2C1483;
}

.hovers__item:nth-child(1) .circle-deco::before {
  background-color: #2C1483;
}

.hovers__item:nth-child(1) .item-hov__content {
  background-color: #2C1483;
}

.hovers__item:nth-child(1) .item-hov__btn {
  background-color: #2C1483;
}

.hovers__item:nth-child(2) {
  background-color: #3A14BF;
}

.hovers__item:nth-child(2) .circle-deco::after {
  background-color: #3A14BF;
}

.hovers__item:nth-child(2) .circle-deco::before {
  background-color: #3A14BF;
}

.hovers__item:nth-child(2) .item-hov__content {
  background-color: #3A14BF;
}

.hovers__item:nth-child(2) .item-hov__txt li {
  list-style: disc;
  margin-left: 6%;
}

.hovers__item:nth-child(2) .item-hov__btn {
  background-color: #3A14BF;
}

.hovers__item:nth-child(3) {
  background-color: #8351F2;
}

.hovers__item:nth-child(3) .circle-deco::after {
  background-color: #8351F2;
}

.hovers__item:nth-child(3) .circle-deco::before {
  background-color: #8351F2;
}

.hovers__item:nth-child(3) .item-hov__content {
  background-color: #8351F2;
}

.hovers__item:nth-child(3) .item-hov__btn {
  background-color: #8351F2;
}

.hovers__item:nth-child(4) {
  background-color: #A988F1;
}

.hovers__item:nth-child(4) .circle-deco::after {
  background-color: #A988F1;
}

.hovers__item:nth-child(4) .circle-deco::before {
  background-color: #A988F1;
}

.hovers__item:nth-child(4) .item-hov__content {
  background-color: #A988F1;
  left: -205%;
}

.hovers__item:nth-child(4) .item-hov__btn {
  background-color: #A988F1;
}

.hovers__item:nth-child(5) {
  background-color: #F29F05;
}

.hovers__item:nth-child(5) .circle-deco::after {
  background-color: #F29F05;
}

.hovers__item:nth-child(5) .circle-deco::before {
  background-color: #F29F05;
}

.hovers__item:nth-child(5) .item-hov__content {
  background-color: #F29F05;
  left: -205%;
}

.hovers__item:nth-child(5) .item-hov__btn {
  background-color: #F29F05;
}

.hovers__item:nth-child(6) {
  background-color: #F2CB04;
  color: #000;
}

.hovers__item:nth-child(6) .circle-deco::after {
  background-color: #F2CB04;
}

.hovers__item:nth-child(6) .circle-deco::before {
  background-color: #F2CB04;
}

.hovers__item:nth-child(6) .item-hov__content {
  background-color: #F2CB04;
  left: -307%;
}

.hovers__item:nth-child(6) .item-hov__btn {
  border-color: #000;
  color: #000;
  background-color: #F2CB04;
}

.main-hov {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 0.0625rem solid #EAEAEA;
  border-left: 0.0625rem solid #EAEAEA;
  border-bottom: 0.0625rem solid #EAEAEA;
  height: 100%;
  z-index: 1;
  -webkit-transition: z-index 0.1s linear 0.6s;
  -o-transition: z-index 0.1s linear 0.6s;
  transition: z-index 0.1s linear 0.6s;
}

.main-hov:hover {
  z-index: 2;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.main-hov:hover .main-hov__wrapp {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.main-hov:hover .main-hov__content {
  opacity: 1;
  width: 60%;
}

.main-hov:hover .main-hov__content-body {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.main-hov:hover .main-hov__title {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 0.55s;
       -o-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.main-hov:hover .main-hov__text {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.main-hov__item {
  width: 100%;
  max-width: 26.0625rem;
  background-color: #000;
}

.main-hov__wrapp {
  padding: 2.6875rem 3.5rem 2.3125rem 2.375rem;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: -webkit-transform 0.6s ease-in-out 0s;
  transition: -webkit-transform 0.6s ease-in-out 0s;
  -o-transition: transform 0.6s ease-in-out 0s;
  transition: transform 0.6s ease-in-out 0s;
  transition: transform 0.6s ease-in-out 0s, -webkit-transform 0.6s ease-in-out 0s;
  position: relative;
  top: -4%;
  left: -2%;
}

.main-hov__body {
  position: relative;
}

.main-hov__com {
  position: absolute;
  top: 0;
  right: 4%;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.1333333333;
}

.main-hov__omg {
  max-width: 14.4375rem;
  font-weight: 800;
  font-size: 7.375rem;
  line-height: 0.8474576271;
}

.main-hov__content {
  width: 0;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 40%;
  height: 100%;
  -webkit-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
  overflow: hidden;
  border-top: 0.0625rem solid #EAEAEA;
  border-right: 0.0625rem solid #EAEAEA;
  border-bottom: 0.0625rem solid #EAEAEA;
}

.main-hov__content-body {
  padding: 2.5rem 2.5rem 2.5rem 0rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.main-hov__title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.275;
  color: #FFE319;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.main-hov__text {
  max-width: 26.875rem;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.3;
}

.main-hov__text span {
  font-weight: 700;
}

.title-hov {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-hov__content .title-hov {
  height: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.875rem;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s ease 0.5s;
  transition: -webkit-transform 0.4s ease 0.5s;
  -o-transition: transform 0.4s ease 0.5s;
  transition: transform 0.4s ease 0.5s;
  transition: transform 0.4s ease 0.5s, -webkit-transform 0.4s ease 0.5s;
}

.title-hov__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 7.5rem;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-hov__content .title-hov__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 6.375rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-hov__icon {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.item-hov__content .title-hov__icon {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.title-hov__name {
  height: 246px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
}

.item-hov__content .title-hov__name {
  height: unset;
  width: 100%;
  -webkit-writing-mode: inherit;
      -ms-writing-mode: inherit;
          writing-mode: inherit;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.item-hov__content {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-width: 0;
  z-index: 2;
  opacity: 0;
  -webkit-transition: width 0.5s ease-in-out 0s, border-radius 0.9s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
  -o-transition: width 0.5s ease-in-out 0s, border-radius 0.9s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
  transition: width 0.5s ease-in-out 0s, border-radius 0.9s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
}

.item-hov__content .circle-deco {
  left: -4%;
  opacity: 0;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.item-hov__body {
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
}

.item-hov__wrap {
  height: 73%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 1.875rem 1.875rem 1.875rem;
}

.item-hov__txt {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
  margin-bottom: 0.625rem;
}

.item-hov__btn {
  width: 100%;
  height: 4.125rem;
  border: 0.125rem solid #EAEAEA;
  border-radius: 10.625rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.2777777778;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.55s ease 0s;
  transition: opacity 0.3s ease 0s, -webkit-transform 0.55s ease 0s;
  -o-transition: opacity 0.3s ease 0s, transform 0.55s ease 0s;
  transition: opacity 0.3s ease 0s, transform 0.55s ease 0s;
  transition: opacity 0.3s ease 0s, transform 0.55s ease 0s, -webkit-transform 0.55s ease 0s;
}

.spollers__item {
  color: #EAEAEA;
  border: 0.0625rem solid #EAEAEA;
}

.spollers__item:nth-child(2) {
  background-color: #2C1483;
}

.spollers__item:nth-child(2) .title-spol__icon {
  width: 2.5rem;
  height: auto;
}

.spollers__item:nth-child(3) {
  background-color: #3A14BF;
}

.spollers__item:nth-child(3) .title-spol__icon {
  width: 3rem;
  height: auto;
}

.spollers__item:nth-child(4) {
  background-color: #8351F2;
}

.spollers__item:nth-child(4) .title-spol__icon {
  width: 2.75rem;
  height: auto;
}

.spollers__item:nth-child(5) {
  background-color: #A988F1;
}

.spollers__item:nth-child(5) .title-spol__icon {
  width: 2.0625rem;
  height: auto;
}

.spollers__item:nth-child(6) {
  background-color: #F29F05;
}

.spollers__item:nth-child(6) .title-spol__icon {
  width: 3.0625rem;
  height: auto;
}

.spollers__item:nth-child(7) {
  background-color: #F2CB04;
  color: #000;
}

.spollers__item:nth-child(7) .title-spol__icon {
  width: 2.0625rem;
  height: auto;
}

.spollers__item:nth-child(7) .title-spol__name {
  font-weight: 600;
}

.spollers__item_omg {
  background-color: #000;
  color: #EAEAEA;
  border: 0.0625rem solid #EAEAEA;
}

.spollers__title {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 3.625rem 1fr;
  grid-template-columns: 3.625rem 1fr;
  padding: 1.0625rem 1.25rem;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  width: 100%;
}

.spollers__title_omg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 17.5rem;
  overflow: hidden;
}

.spollers__title_omg-body {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.2666666667;
  color: #FFE319;
}

.spollers__title_omg-body:not(:last-child) {
  margin-bottom: 0.625rem;
}

.spollers__title_wrap {
  width: 17.5rem;
  height: 17.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: -webkit-transform 0.5s ease-in-out 0s;
  transition: -webkit-transform 0.5s ease-in-out 0s;
  -o-transition: transform 0.5s ease-in-out 0s;
  transition: transform 0.5s ease-in-out 0s;
  transition: transform 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
}

._spoller-active .spollers__title_wrap {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.spollers__title_body {
  width: 13.75rem;
  height: 14.0625rem;
  position: relative;
}

.spollers__title_agency {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.1363636364;
}

.spollers__title_name {
  font-weight: 700;
  font-size: 5.4375rem;
  line-height: 0.8505747126;
  max-width: 15.9375rem;
  text-align: left;
}

.spollers__body {
  padding: 0rem 1.25rem 1.25rem;
}

.spollers__body_omg {
  padding: 1.25rem;
}

.title-spol__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-spol__name {
  text-align: left;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.1764705882;
}

.body-spol__txt {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.2666666667;
}

.body-spol__txt:not(:last-child) {
  margin-bottom: 1.25rem;
}

.body-spol__txt li {
  list-style: disc;
  margin-left: 4%;
}

.body-spol__txt span {
  font-weight: 700;
}

.body-spol__btn {
  height: 3.125rem;
  font-size: 1rem;
  max-width: 18.75rem;
}

@media (min-width: 731px) {
  .spollers {
    display: none;
  }
}

@media (min-width: 90em) {
  [class*=__container] {
    padding-left: 12.625rem;
  }

  [class*=__container] {
    padding-right: 12.625rem;
  }

  .side {
    width: 12.625rem;
  }

  .arrow-up {
    margin-right: 4.1875rem;
  }

  .header {
    height: 6.875rem;
  }

  .header__logo {
    margin-left: 4.1875rem;
  }

  .menu__list {
    margin-top: 6.25rem;
  }

  .menu__link {
    font-size: 3rem;
  }

  .btm-footer {
    padding-bottom: 9.375rem;
  }

  .btm-footer__block:nth-child(3) {
    -webkit-column-gap: 2.875rem;
       -moz-column-gap: 2.875rem;
            column-gap: 2.875rem;
  }

  .main {
    margin-bottom: 9.375rem;
  }
}

@media (min-width: 120em) {
  .menu__icon {
    right: 5rem;
  }
}

@media (max-width: 1350px) {
  .hovers__item .circle-deco {
    left: -19%;
  }

  .item-hov__content .circle-deco {
    left: -5%;
  }
}

@media (max-width: 80em) {
  [class*=__container] {
    padding-left: 11.25rem;
  }

  [class*=__container] {
    padding-right: 11.25rem;
  }

  .side {
    width: 11.25rem;
  }

  .arrow-up {
    margin-right: 4.125rem;
  }

  .header__logo {
    margin-left: 3.5rem;
  }
}

@media (max-width: 1280px) {
  .hovers {
    height: 21.0625rem;
  }

  .main-hov__wrapp {
    padding: 2.6875rem 2.25rem 2.375rem;
    left: -3%;
  }

  .main-hov__omg {
    font-size: 6.5rem;
  }

  .item-hov__content .title-hov {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}

@media (max-width: 1220px) {
  .main__text {
    font-size: 1.25rem;
    right: 0;
    max-width: 28.125rem;
  }
}

@media (max-width: 1100px) {
  .hovers__item .circle-deco {
    left: -22%;
  }

  .hovers__item:hover:nth-child(6) .item-hov__content {
    border-radius: 90px 0px 0px 0px;
  }

  .hovers__item:hover .item-hov__content {
    border-radius: 0px 5.625rem 0px 0px;
  }

  .main-hov__com {
    right: 0%;
  }

  .item-hov__content .title-hov {
    padding: 0.9375rem 1.25rem;
  }

  .item-hov__wrap {
    padding: 0rem 1.25rem 1.25rem 1.25rem;
  }

  .item-hov__txt {
    font-size: 0.9375rem;
  }
}

@media (max-width: 62em) {
  .arrow-up {
    bottom: 3.125rem;
  }

  .main__text {
    font-size: 1.125rem;
    max-width: 23.75rem;
  }
}

@media (max-width: 992px) {
  .main-hov__wrapp {
    left: -2%;
    top: 4%;
  }

  .main-hov__omg {
    font-size: 5.4375rem;
  }
}

@media (max-width: 991px) {
  .side {
    position: relative;
    min-width: 100%;
    margin-top: 1.5625rem;
    margin-bottom: 3.125rem;
  }

  .side .btn-side__brief {
    width: 100%;
    max-width: 20.6875rem;
    height: 3rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .side .btn-side__brief span {
    -webkit-writing-mode: inherit;
        -ms-writing-mode: inherit;
            writing-mode: inherit;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  .side__content {
    width: 100%;
    max-width: 26.5625rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .side__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 0.5625rem;
       -moz-column-gap: 0.5625rem;
            column-gap: 0.5625rem;
  }

  .links-side {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-column-gap: 0.5625rem;
       -moz-column-gap: 0.5625rem;
            column-gap: 0.5625rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }

  .menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 100%;
  }
}

@media (max-width: 48em) {
  [class*=__container] {
    padding-left: 1.25rem;
  }

  [class*=__container] {
    padding-right: 1.25rem;
  }

  .side {
    width: 1.25rem;
  }

  .arrow-up {
    margin-right: 1.25rem;
  }

  .arrow-up__btn img {
    -webkit-filter: invert(0%) sepia(91%) saturate(7464%) hue-rotate(33deg) brightness(101%) contrast(100%);
            filter: invert(0%) sepia(91%) saturate(7464%) hue-rotate(33deg) brightness(101%) contrast(100%);
  }

  .arrow-up__btn {
    background-color: #EAEAEA;
  }

  .header__logo {
    margin-left: 1.25rem;
  }

  .header__logo-img {
    width: 3.3125rem;
    height: auto;
  }

  .menu-open .menu {
    left: 0;
  }

  .menu {
    top: 0;
    left: -100%;
  }

  .menu__item {
    height: 4.0625rem;
  }

  .menu__icon {
    right: 1.25rem;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    height: 0.125rem;
  }

  .icon-menu {
    width: 2.5rem;
    height: 1.125rem;
  }

  .main {
    margin-top: 6.25rem;
  }

  .hovers__item .circle-deco {
    left: -24%;
  }

  .hovers__item:nth-child(2) .title-hov__icon {
    width: 48px;
    height: 26px;
  }

  .hovers__item:nth-child(3) .title-hov__icon {
    width: 44px;
    height: 28px;
  }

  .hovers__item:nth-child(4) .title-hov__icon {
    width: 55px;
    height: auto;
  }

  .hovers__item:nth-child(5) .title-hov__icon {
    width: 49px;
    height: auto;
  }

  .hovers__item:nth-child(6) .title-hov__icon {
    width: 33px;
    height: auto;
  }

  .main-hov__com {
    right: -16%;
  }

  .main-hov__omg {
    font-weight: 700;
  }

  .title-hov__name {
    font-size: 1.0625rem;
  }

  .item-hov__content .circle-deco {
    left: -6%;
  }

  .item-hov__wrap {
    height: 68%;
    padding: 0rem 1.25rem 0.9375rem 1.25rem;
  }
}

@media (max-width: 750px) {
  .main__text {
    position: relative;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    max-width: 100%;
    margin-top: 1.5625rem;
  }

  .we-are {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }
}

@media (max-width: 730px) {
  .hovers {
    display: none;
  }
}

@media (max-width: 30em) {
  .side {
    margin-bottom: 1.25rem;
  }

  .arrow-up {
    bottom: 1.25rem;
  }

  .menu__item {
    height: 3.125rem;
  }

  .menu__link {
    margin-left: 1.25rem;
  }

  .btm-footer {
    padding-top: 1.875rem;
  }

  .main {
    margin-top: 4.25rem;
  }

  .main__text {
    font-size: 1.0625rem;
  }

  .main__text {
    position: absolute;
  }

  .we-are {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }
}

@media (max-width: 400px) {
  .main__head:not(:last-child) {
    margin-bottom: 7.1875rem;
  }
}

@media (max-width: 20em) {
  .header {
    height: 4.25rem;
  }

  .menu__list {
    margin-top: 4.25rem;
  }

  .menu__link {
    font-size: 1.5625rem;
  }

  .btm-footer {
    padding-bottom: 6.25rem;
  }

  .btm-footer__block:nth-child(3) {
    -webkit-column-gap: 1.8125rem;
       -moz-column-gap: 1.8125rem;
            column-gap: 1.8125rem;
  }

  .main {
    margin-bottom: 6.25rem;
  }
}

@media (min-width: 80em) and (max-width: 90em) {
@supports (padding-left: clamp( 11.25rem , 0.25rem  +  13.75vw , 12.625rem )) {
    [class*=__container] {
      padding-left: clamp( 11.25rem , 0.25rem  +  13.75vw , 12.625rem );
    }
}

@supports not (padding-left: clamp( 11.25rem , 0.25rem  +  13.75vw , 12.625rem )) {
    [class*=__container] {
      padding-left: calc(11.25rem + 1.375 * (100vw - 80rem) / 10);
    }
}

@supports (padding-right: clamp( 11.25rem , 0.25rem  +  13.75vw , 12.625rem )) {
    [class*=__container] {
      padding-right: clamp( 11.25rem , 0.25rem  +  13.75vw , 12.625rem );
    }
}

@supports not (padding-right: clamp( 11.25rem , 0.25rem  +  13.75vw , 12.625rem )) {
    [class*=__container] {
      padding-right: calc(11.25rem + 1.375 * (100vw - 80rem) / 10);
    }
}

@supports (width: clamp( 11.25rem , 0.25rem  +  13.75vw , 12.625rem )) {
    .side {
      width: clamp( 11.25rem , 0.25rem  +  13.75vw , 12.625rem );
    }
}

@supports not (width: clamp( 11.25rem , 0.25rem  +  13.75vw , 12.625rem )) {
    .side {
      width: calc(11.25rem + 1.375 * (100vw - 80rem) / 10);
    }
}

@supports (margin-right: clamp( 4.125rem , 3.625rem  +  0.625vw , 4.1875rem )) {
    .arrow-up {
      margin-right: clamp( 4.125rem , 3.625rem  +  0.625vw , 4.1875rem );
    }
}

@supports not (margin-right: clamp( 4.125rem , 3.625rem  +  0.625vw , 4.1875rem )) {
    .arrow-up {
      margin-right: calc(4.125rem + 0.0625 * (100vw - 80rem) / 10);
    }
}

@supports (margin-left: clamp( 3.5rem , -2rem  +  6.875vw , 4.1875rem )) {
    .header__logo {
      margin-left: clamp( 3.5rem , -2rem  +  6.875vw , 4.1875rem );
    }
}

@supports not (margin-left: clamp( 3.5rem , -2rem  +  6.875vw , 4.1875rem )) {
    .header__logo {
      margin-left: calc(3.5rem + 0.6875 * (100vw - 80rem) / 10);
    }
}
}

@media (min-width: 48em) and (max-width: 80em) {
@supports (padding-left: clamp( 1.25rem , -13.75rem  +  31.25vw , 11.25rem )) {
    [class*=__container] {
      padding-left: clamp( 1.25rem , -13.75rem  +  31.25vw , 11.25rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , -13.75rem  +  31.25vw , 11.25rem )) {
    [class*=__container] {
      padding-left: calc(1.25rem + 10 * (100vw - 48rem) / 32);
    }
}

@supports (padding-right: clamp( 1.25rem , -13.75rem  +  31.25vw , 11.25rem )) {
    [class*=__container] {
      padding-right: clamp( 1.25rem , -13.75rem  +  31.25vw , 11.25rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , -13.75rem  +  31.25vw , 11.25rem )) {
    [class*=__container] {
      padding-right: calc(1.25rem + 10 * (100vw - 48rem) / 32);
    }
}

@supports (width: clamp( 1.25rem , -13.75rem  +  31.25vw , 11.25rem )) {
    .side {
      width: clamp( 1.25rem , -13.75rem  +  31.25vw , 11.25rem );
    }
}

@supports not (width: clamp( 1.25rem , -13.75rem  +  31.25vw , 11.25rem )) {
    .side {
      width: calc(1.25rem + 10 * (100vw - 48rem) / 32);
    }
}

@supports (margin-right: clamp( 1.25rem , -3.0625rem  +  8.984375vw , 4.125rem )) {
    .arrow-up {
      margin-right: clamp( 1.25rem , -3.0625rem  +  8.984375vw , 4.125rem );
    }
}

@supports not (margin-right: clamp( 1.25rem , -3.0625rem  +  8.984375vw , 4.125rem )) {
    .arrow-up {
      margin-right: calc(1.25rem + 2.875 * (100vw - 48rem) / 32);
    }
}

@supports (margin-left: clamp( 1.25rem , -2.125rem  +  7.03125vw , 3.5rem )) {
    .header__logo {
      margin-left: clamp( 1.25rem , -2.125rem  +  7.03125vw , 3.5rem );
    }
}

@supports not (margin-left: clamp( 1.25rem , -2.125rem  +  7.03125vw , 3.5rem )) {
    .header__logo {
      margin-left: calc(1.25rem + 2.25 * (100vw - 48rem) / 32);
    }
}
}

@media (min-width: 20em) and (max-width: 90em) {
@supports (height: clamp( 4.25rem , 3.5rem  +  3.75vw , 6.875rem )) {
    .header {
      height: clamp( 4.25rem , 3.5rem  +  3.75vw , 6.875rem );
    }
}

@supports not (height: clamp( 4.25rem , 3.5rem  +  3.75vw , 6.875rem )) {
    .header {
      height: calc(4.25rem + 2.625 * (100vw - 20rem) / 70);
    }
}

@supports (margin-top: clamp( 4.25rem , 3.6785714286rem  +  2.8571428571vw , 6.25rem )) {
    .menu__list {
      margin-top: clamp( 4.25rem , 3.6785714286rem  +  2.8571428571vw , 6.25rem );
    }
}

@supports not (margin-top: clamp( 4.25rem , 3.6785714286rem  +  2.8571428571vw , 6.25rem )) {
    .menu__list {
      margin-top: calc(4.25rem + 2 * (100vw - 20rem) / 70);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.1517857143rem  +  2.0535714286vw , 3rem )) {
    .menu__link {
      font-size: clamp( 1.5625rem , 1.1517857143rem  +  2.0535714286vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.1517857143rem  +  2.0535714286vw , 3rem )) {
    .menu__link {
      font-size: calc(1.5625rem + 1.4375 * (100vw - 20rem) / 70);
    }
}

@supports (padding-bottom: clamp( 6.25rem , 5.3571428571rem  +  4.4642857143vw , 9.375rem )) {
    .btm-footer {
      padding-bottom: clamp( 6.25rem , 5.3571428571rem  +  4.4642857143vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 6.25rem , 5.3571428571rem  +  4.4642857143vw , 9.375rem )) {
    .btm-footer {
      padding-bottom: calc(6.25rem + 3.125 * (100vw - 20rem) / 70);
    }
}

@supports ((-moz-column-gap: clamp( 1.8125rem , 1.5089285714rem  +  1.5178571429vw , 2.875rem )) or (column-gap: clamp( 1.8125rem , 1.5089285714rem  +  1.5178571429vw , 2.875rem ))) {
    .btm-footer__block:nth-child(3) {
      -webkit-column-gap: clamp( 1.8125rem , 1.5089285714rem  +  1.5178571429vw , 2.875rem );
         -moz-column-gap: clamp( 1.8125rem , 1.5089285714rem  +  1.5178571429vw , 2.875rem );
              column-gap: clamp( 1.8125rem , 1.5089285714rem  +  1.5178571429vw , 2.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.8125rem , 1.5089285714rem  +  1.5178571429vw , 2.875rem )) or (column-gap: clamp( 1.8125rem , 1.5089285714rem  +  1.5178571429vw , 2.875rem ))) {
    .btm-footer__block:nth-child(3) {
      -webkit-column-gap: calc(1.8125rem + 1.0625 * (100vw - 20rem) / 70);
         -moz-column-gap: calc(1.8125rem + 1.0625 * (100vw - 20rem) / 70);
              column-gap: calc(1.8125rem + 1.0625 * (100vw - 20rem) / 70);
    }
}

@supports (margin-bottom: clamp( 6.25rem , 5.3571428571rem  +  4.4642857143vw , 9.375rem )) {
    .main {
      margin-bottom: clamp( 6.25rem , 5.3571428571rem  +  4.4642857143vw , 9.375rem );
    }
}

@supports not (margin-bottom: clamp( 6.25rem , 5.3571428571rem  +  4.4642857143vw , 9.375rem )) {
    .main {
      margin-bottom: calc(6.25rem + 3.125 * (100vw - 20rem) / 70);
    }
}
}

@media (min-width: 48em) and (max-width: 120em) {
@supports (right: clamp( 1.25rem , -1.25rem  +  5.2083333333vw , 5rem )) {
    .menu__icon {
      right: clamp( 1.25rem , -1.25rem  +  5.2083333333vw , 5rem );
    }
}

@supports not (right: clamp( 1.25rem , -1.25rem  +  5.2083333333vw , 5rem )) {
    .menu__icon {
      right: calc(1.25rem + 3.75 * (100vw - 48rem) / 72);
    }
}
}

@media (max-height: 850px) {
  .side {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .side__content {
    row-gap: 1.5625rem;
    margin-bottom: 3.125rem;
  }

  .side__buttons {
    row-gap: 1.5625rem;
  }

  .links-side {
    row-gap: 1.5625rem;
  }

  .arrow-up {
    bottom: 3.125rem;
  }

  .menu__item {
    height: 5.4375rem;
  }
}

@media (max-height: 550px) {
  .side {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

@media (max-height: 750px) {
  .side__content {
    row-gap: 0.9375rem;
  }

  .side__buttons {
    row-gap: 0.9375rem;
  }

  .links-side {
    row-gap: 0.9375rem;
  }

  .menu__item {
    height: 4.9375rem;
  }
}

@media (any-hover: hover) {
  .btn-side__brief:hover {
    background-color: rgb(85, 29, 240);
  }

  .btn-side__theme:hover {
    opacity: 0.7;
  }

  .links-side__item:hover {
    opacity: 0.7;
  }

  .arrow-up__btn:hover {
    opacity: 0.7;
  }

  .hovers__item:nth-child(1) .item-hov__btn:hover {
    background-color: #240f70;
  }

  .hovers__item:nth-child(2) .item-hov__btn:hover {
    background-color: #2f0cad;
  }

  .hovers__item:nth-child(3) .item-hov__btn:hover {
    background-color: #7141da;
  }

  .hovers__item:nth-child(4) .item-hov__btn:hover {
    background-color: #9879db;
  }

  .hovers__item:nth-child(5) .item-hov__btn:hover {
    background-color: #df9100;
  }

  .hovers__item:nth-child(6) .item-hov__btn:hover {
    background-color: #cfad01;
  }
}

@media (max-height: 630px) {
  .menu {
    overflow-y: auto;
  }
}

@media (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}