.main {
  margin-top: rem(163);
  @include adaptiveValue("margin-bottom", 150, 100);
  @media (max-width:$mobile){
     margin-top: rem(100); 
  }
  @media (max-width:$mobileSmall){
     margin-top: rem(68); 
  }
  // .main__container
  &__container {
  }
  // .main__head
  &__head {
    position: relative;
    &:not(:last-child) {
      margin-bottom: rem(35);
    }
    @media (max-width: 400px){
      &:not(:last-child) {
        margin-bottom: rem(115);
      }
    }
  }
  // .main__text
  &__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: rem(15);
    width: 100%;
    max-width: rem(480);

    font-weight: 500;
    font-size: rem(21);
    line-height: 1.3;
    span {
      font-weight: 700;
    }
    @media (max-width:1220px){
        font-size: rem(20);
        right: 0;
        max-width: rem(450);
    }
    @media (max-width:$tablet){
      font-size: rem(18);
      max-width: rem(380);
    }
    @media (max-width:750px){
        position: relative;
        transform: translateY(0);
        max-width: 100%;
        margin-top: rem(25);
    }
    @media (max-width:$mobileSmall){
       font-size: rem(17); 
    }
    @media (max-width:$mobileSmall){
      position: absolute;
    }
  }
}
.we-are {
  display: flex;
  justify-content: space-between;
  column-gap: rem(53);
  @media (max-width:750px){
      column-gap: rem(25)
  }
  @media (max-width:$mobileSmall){
     flex-direction: column; 
     row-gap: rem(20);
  }
  // .we-are__img
  &__img {

  }
    img {
      position: relative;
      object-fit: contain;
    }
    .img-we {
      .dark & {
        filter: invert(100%) sepia(0%) saturate(437%) hue-rotate(181deg) brightness(117%) contrast(84%);
      }
    }
    .img-are {
      filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(129deg) brightness(108%) contrast(101%);
      .dark & {
        filter: invert(32%) sepia(0%) saturate(353%) hue-rotate(189deg) brightness(92%) contrast(100%);
      }
    }
}

.hovers {
  color: $gray;
  height: rem(380);
  min-height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  @media (max-width: 1280px) {
    height: rem(337);
  }
  @media (max-width: 730px){
     display: none; 
  }
  // .hovers__main
  &__main {
    width: 40%;
  }
	// .hovers__items
  &__items {
    display: flex;
    width: 60%;
  }
  // .hovers__wrapper
  &__wrapper {
    height: 100%;
  }
	// .hovers__item
  &__item {
    width: 16.666%;
    height: 100%;
    background-color: $_6D37FF;
    border: rem(1) solid $gray;
    position: relative;
    z-index: 1;
    transition: z-index 0.5s linear 0s;
    .circle-deco {
      position: absolute;
      top: 50%;
      left: -17%;
      transform: translateY(-50%);
      width: rem(34);
      height: rem(34);
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
      @media (max-width: 1350px){
        left: -19%;
      }
      @media (max-width: 1100px){
        left: -22%;
      }
      @media (max-width:$mobile){
         left: -24%; 
      }
      &::after {
        content:'';
        overflow: hidden;
        z-index: 2;
        height: rem(32);
        width: rem(32);
        border-radius: 50%;
        border: rem(1) solid $gray;
      }
      &::before {
        content:'';
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        height: 100%;
        width: rem(17);
      }
    }
      &:hover{
        z-index: 2;
        transition-delay: 0s;
        &:nth-child(6) {
          .item-hov__content {
            border-radius: 100px 0px 0px 0px;
            @media (max-width: 1100px) {
              border-radius: 90px 0px 0px 0px;
            }
          }
        }
        .item-hov__content {
          pointer-events: all;
          width: 408%;
          border-radius: 0px rem(100) 0px 0px;
          opacity: 1;
          @media (max-width: 1100px) {
            border-radius: 0px rem(90) 0px 0px;
          }
          .title-hov {
            transform: translateY(0);
          }
          .circle-deco {
            opacity: 1;
            transition: opacity 0s ease 0.5s;
          }
        }
        .item-hov__body {
          opacity: 1;
          transition-delay: 0.5s;
        }
        .item-hov__txt {
          transform: translateY(0);
          opacity: 1;
          transition: transform 0.55s ease 0.7s, opacity 0.6s ease 0.7s;
        }
        .item-hov__btn {
          transform: translateY(0);
          opacity: 1;
          transition: transform 0.55s ease 0.8s, opacity 0.6s ease 0.8s;
        }
      }
    &:nth-child(1) {
      background-color: $_2C1483;
      .circle-deco {
        &::after {
          background-color: $_2C1483;
        }
        &::before {
          background-color: $_2C1483;
        }
      }
      .item-hov__content {
        background-color: $_2C1483;
      }
      .item-hov__btn {
        background-color: $_2C1483;
        // transition: background-color 0.3s ease 0s;
        @media (any-hover: hover){
          &:hover{
              background-color: #240f70;
          }
        }
      }
    }
    &:nth-child(2) {
      background-color: $_3A14BF;
      .circle-deco {
        &::after {
          background-color: $_3A14BF;
        }
        &::before {
          background-color: $_3A14BF;
        }
      }
      .title-hov__icon {
        @media (max-width:$mobile){
          width: 48px;
          height: 26px;    
        }
      }
      .item-hov__content {
        background-color: $_3A14BF;
      }
      .item-hov__txt {
        li {
          list-style: disc;
          margin-left: 6%;
        }
      }
      .item-hov__btn {
        background-color: $_3A14BF;
        // transition: background-color 0.3s ease 0s;
        @media (any-hover: hover){
          &:hover{
              background-color: #2f0cad;
          }
        }
      }
    }
    &:nth-child(3) {
      background-color: $_8351F2;
      .circle-deco {
        &::after {
          background-color: $_8351F2;
        }
        &::before {
          background-color: $_8351F2;
        }
      }
      .title-hov__icon {
        @media (max-width:$mobile){
          width: 44px;
          height: 28px;    
        }
      }
      .item-hov__content {
        background-color: $_8351F2;
      }
      .item-hov__btn {
        background-color: $_8351F2;
        // transition: background-color 0.3s ease 0s;
        @media (any-hover: hover){
          &:hover{
              background-color: #7141da;
          }
        }
      }
    }
    &:nth-child(4) {
      background-color: $_A988F1;
      .circle-deco {
        &::after {
          background-color: $_A988F1;
        }
        &::before {
          background-color: $_A988F1;
        }
      }
      .title-hov__icon {
        @media (max-width:$mobile){
          width: 55px;
          height: auto;    
        }
      }
      .item-hov__content {
        background-color: $_A988F1;
        left: -205%;
      }
      .item-hov__btn {
        background-color: $_A988F1;
        // transition: background-color 0.3s ease 0s;
        @media (any-hover: hover){
          &:hover{
              background-color: #9879db;
          }
        }
      }
    }
    &:nth-child(5) {
      background-color: $_F29F05;
      .circle-deco {
        &::after {
          background-color: $_F29F05;
        }
        &::before {
          background-color: $_F29F05;
        }
      }
      .title-hov__icon {
        @media (max-width:$mobile){
          width: 49px;
          height: auto;    
        }
      }
      .item-hov__content {
        background-color: $_F29F05;
        
        left: -205%;
      }
      .item-hov__btn {
        background-color: $_F29F05;
        // transition: background-color 0.3s ease 0s;
        @media (any-hover: hover){
          &:hover{
              background-color: #df9100;
          }
        }
      }
    }
    &:nth-child(6) {
      background-color: $_F2CB04;
      color: $mainColor;
      
      .circle-deco {
        &::after {
          background-color: $_F2CB04;
        }
        &::before {
          background-color: $_F2CB04;
        }
      }
      .title-hov__icon {
        @media (max-width:$mobile){
          width: 33px;
          height: auto;    
        }
      }
      .item-hov__content {
        background-color: $_F2CB04;
        left: -307%;
      }
      .item-hov__btn {
        border-color: $mainColor;
        color: $mainColor;
        background-color: $_F2CB04;
        // transition: background-color 0.3s ease 0s;
        @media (any-hover: hover){
          &:hover{
              background-color: #cfad01;
          }
        }
      }
    }
  }
}
.main-hov {
  display: flex;
  border-top: rem(1) solid $gray;
  border-left: rem(1) solid $gray;
  border-bottom: rem(1) solid $gray;
  height: 100%;
  z-index: 1;
  transition: z-index 0.1s linear 0.6s;
    &:hover{
      z-index: 2;
      transition-delay: 0s;
      .main-hov__wrapp {
        transform: rotate(0deg);
      }
      .main-hov__content {
        opacity: 1;
        width: 60%;
      }
      .main-hov__content-body {
        opacity: 1;
        transition-delay: 0.5s;
      }
      .main-hov__title {
        transform: translateY(0);
        opacity: 1;
        transition-delay: 0.55s;
      }
      .main-hov__text {
        transform: translateX(0);
        opacity: 1;
        transition-delay: 0.4s;
      }
    }
  // .main-hov__item
  &__item {
    width: 100%;
    max-width: rem(417);
    background-color: $mainColor;
  }
  // .main-hov__wrapp
  &__wrapp {
    padding: rem(43) rem(56) rem(37) rem(38);
    transform: rotate(-90deg);
    transition: transform 0.6s ease-in-out 0s;
    position: relative;
    top: -4%;
    left: -2%;
    @media (max-width: 1280px) {
      padding: rem(43) rem(36) rem(38);
      left: -3%;
    }
    @media (max-width: 992px) {
      left: -2%;
      top: 4%;
    }
  }
  // .main-hov__body
  &__body {
    position: relative;
  }
  // .main-hov__com
  &__com {
    position: absolute;
    top: 0;
    right: 4%;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    font-weight: 700;
    font-size: 30px;
    line-height: calc(34/30);
    @media (max-width: 1100px) {
      right: 0%;
    }
    @media (max-width:$mobile){
       right: -16%; 
    }
  }
  // .main-hov__omg
  &__omg {
    max-width: rem(231);
    font-weight: 800;
    font-size:rem(118);
    line-height: calc(100/118);
    @media (max-width: 1280px) {
      font-size: rem(104);
    }
    @media (max-width: 992px) {
      font-size: rem(87);
    }
    @media (max-width:$mobile){
       font-weight: 700; 
    }
  }
  // .main-hov__content
  &__content {
    width: 0;
    background-color: $mainColor;
    position: absolute;
    top: 0;
    left: 40%;
    height: 100%;
    transition: all 0.6s ease-in-out 0s;
    overflow: hidden;
    border-top: rem(1) solid $gray;
    border-right: rem(1) solid $gray;
    border-bottom: rem(1) solid $gray;
  }
  // .main-hov__content-body
  &__content-body {
    padding: rem(40) rem(40) rem(40) rem(0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease 0s;
  }
  // .main-hov__title
  &__title {
    font-weight: 700;
    font-size: rem(40);
    line-height: calc(51/40);
    color: $_FFE319;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.4s ease 0s;
  }
  // .main-hov__text
  &__text {
    max-width: rem(430);
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.6s ease 0s;
    font-weight: 500;
    font-size: rem(20);
    line-height: calc(26/20);
    span {
      font-weight: 700;
    }
  }
}
.title-hov {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  
  .item-hov__content & {
    height: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: rem(30);
    transform: translateY(100%);
    transition: transform 0.4s ease 0.5s;
    @media (max-width: 1280px) {
      column-gap: rem(10);
    }
    @media (max-width: 1100px) {
      padding: rem(15) rem(20);
    }
  }
  // .title-hov__img
  &__img {
    display: flex;
    height: rem(120);
    width: 100%;
    justify-content: center;
    align-items: center;
    .item-hov__content & {
      display: flex;
      height: auto;
      width: rem(102);
      justify-content: flex-start;
      align-items: center;
    }
  }
  // .title-hov__icon
  &__icon {
    transform: rotate(-90deg);
    .item-hov__content & {
      transform: rotate(0deg);
    }
  }
  // .title-hov__name
  &__name {
    // height: 100%;
    height: 246px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-weight: 600;
    font-size: rem(20);
    line-height: 1.25;
    @media (max-width:$mobile){
       font-size: rem(17); 
    }
    .item-hov__content & {
      height: unset;
      width: 100%;
      writing-mode:inherit;
      transform: rotate(0deg);
    }
  }
}
.item-hov {
  // .item-hov__content
  &__content {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 0;
    z-index: 2;
    opacity: 0;
    transition: width 0.5s ease-in-out 0s, border-radius 0.9s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
    .circle-deco {
      left: -4%;
      opacity: 0;
      transition-delay: 0s;
      @media (max-width: 1350px){
          left: -5%;
      }
      @media (max-width:$mobile){
         left: -6%; 
      }
    }
  }
  // .item-hov__body
	&__body {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s ease 0s;
  }
	// .item-hov__wrap
	&__wrap {
    height: 73%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(0) rem(30) rem(30) rem(30);
    @media (max-width: 1100px) {
      padding: rem(0) rem(20) rem(20) rem(20);
    }
    @media (max-width:$mobile){
       height: 68%; 
       padding: rem(0) rem(20) rem(15) rem(20);
    }
  }
	// .item-hov__txt
	&__txt {
    font-weight: 400;
    font-size: rem(16);
    line-height: calc(19/16);
    transform: translateY(50%);
    opacity: 0;
    transition-delay: 0s;
    margin-bottom: rem(10);
    @media (max-width: 1100px) {
      font-size: rem(15);
    }
	}
	// .item-hov__btn
	&__btn {
    width: 100%;
    height: rem(66);
    border: rem(2) solid #EAEAEA;
    border-radius: rem(170);
    
    font-weight: 600;
    font-size: rem(18);
    line-height: calc(23/18);

    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0.55s ease 0s;
	}
}



.spollers {
  @media (min-width: 731px) {
    display: none;
  }
  // .spollers__item
  &__item {
    color: $gray;
    border: rem(1) solid $gray;
    &:nth-child(2) {
      background-color: $_2C1483;
      .title-spol__icon {
          width: rem(40);
          height: auto;    
      }
    }
    &:nth-child(3) {
      background-color: $_3A14BF;
      .title-spol__icon {
        width: rem(48);
        height: auto;    
      }
    }
    &:nth-child(4) {
      background-color: $_8351F2;
      .title-spol__icon {
        width: rem(44);
        height: auto;    
      }
    }
    &:nth-child(5) {
      background-color: $_A988F1;
      .title-spol__icon {
        width: rem(33);
        height: auto;    
      }
    }
    &:nth-child(6) {
      background-color: $_F29F05;
      .title-spol__icon {
        width: rem(49);
        height: auto;    
      }
    }
    &:nth-child(7) {
      background-color: $_F2CB04;
      color: $mainColor;
      .title-spol__icon {
        width: rem(33);
        height: auto;    
      }
      .title-spol__name {
        font-weight: 600;
      }
    }
    // .spollers__item_omg
    &_omg {
      background-color: $mainColor;
      color: $gray;
      border: rem(1) solid $gray;
    }
  }
  // .spollers__title
  &__title {
    display: grid;
    align-items: center;
    grid-template-columns: rem(58) 1fr;
    padding: rem(17) rem(20);
    column-gap: rem(10);
    width: 100%;
    // .spollers__title_omg
    &_omg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: rem(280);
      overflow: hidden;
    }
    &_omg-body {
      font-weight: 700;
      font-size: rem(30);
      line-height: calc(38/30);
      color: $_FFE319;
      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }
    // .spollers__title_wrap
    &_wrap {
      width: rem(280);
      height: rem(280);
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(-90deg);
      transition: transform 0.5s ease-in-out 0s;
      ._spoller-active & {
        transform: rotate(0deg);
      }
    }
     // .spollers__title_body
    &_body {
      width: rem(220);
      height: rem(225);
      position: relative;
    }
    // .spollers__title_agency
    &_agency {
      position: absolute;
      top: 0;
      right: 0;
      writing-mode: vertical-rl;
      text-transform: uppercase;
      text-align: left;
      font-weight: 700;
      font-size: rem(22);
      line-height: calc(25/22);
    }
    // .spollers__title_name
    &_name {
      font-weight: 700;
      font-size: rem(87);
      line-height: calc(74/87);
      max-width: rem(255);
      text-align: left;
    }
  }
  // .spollers__body
  &__body {
    padding: rem(0) rem(20) rem(20);
    &_omg {

      padding: rem(20);
    }
  }
  // .spollers__text
  &__text {
  }
  // .spollers__close
  &__close {
  }
}

.title-spol {
  // .title-spol__img
  &__img {
    // width: rem(78);
    display: flex;
    align-items: center;
  }
  // .title-spol__icon
  &__icon {
  }
  // .title-spol__name
  &__name {
    text-align: left;
    font-weight: 500;
    font-size: rem(17);
    line-height: calc(20/17);
  }
}

.body-spol {
  // .body-spol__txt
  &__txt {
    font-weight: 500;
    font-size: rem(15);
    line-height: calc(19/15);
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
    li {
      list-style: disc;
      margin-left: 4%;
    }
    span {
      font-weight: 700;
    }
  }
  // .body-spol__btn
  &__btn {
    height: rem(50);
    font-size: rem(16);
    max-width: rem(300);
  }
}






